name: Daily KFC Apply

on:
  schedule:
    # Runs at 06:00 UTC (08:00 Lithuania Time)
    - cron: '0 6 * * *'
  workflow_dispatch: # Allows manual button click to test

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run KFC Automation
        run: python kfc_lt_apply.py
